[Desktop Entry]
Version=1.0
Type=Application
Name=NovaPlay
Comment=NovaPlay media and torrent streaming app
Icon=novaplay
Exec=novaplay
Terminal=false
Categories=AudioVideo;Player;Network;
StartupNotify=true
StartupWMClass=novaplay
